@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #6d28d9; /* Light Mode Primary */
  --color-background: #f7f7f7; /* Light Mode Background */
  --color-text: #121212; /* Light Mode Text */
  --color-opposite-background: #121212; /* Opposite Background in Light Mode (Dark Mode Background) */
  --color-opposite-text: #f7f7f7; /* Opposite Text Color in Light Mode (Dark Mode Background) */
  --color-text-light: hsl(
    210,
    12%,
    25%,
    0.7
  ); /* Light mode text with less opacity*/
  --color-card-background: #181818; /* background color for cards */
}

.dark {
  --color-primary: #6d28d9; /* Dark Mode Primary */
  --color-background: #121212; /* Dark Mode Background */
  --color-text: #f7f7f7; /* Dark Mode Text */
  --color-opposite-background: #f7f7f7; /* Opposite Background in Dark Mode (Light Mode Background) */
  --color-opposite-text: #121212; /* Opposite Text Color in Light Mode (Light Mode Background) */
  --color-text-light: hsl(
    210,
    20%,
    95%,
    0.7
  ); /* Dark mode text with less opacity*/
  --color-card-background: #181818; /* background color for cards */
}

@layer base {
  .nav-item {
    @apply px-4 py-1.5 rounded-full text-white/80 text-sm hover:bg-white/90 hover:text-black transition duration-300 font-medium;
  }
}

@layer base {
  /* Apply a transition to background, border, text colors */
  * {
    transition: background-color 1s ease, color 1s ease, opacity 1s ease,
      border-color 1s ease;
  }
  body,
  button,
  a,
  input {
    transition: background-color 1s ease, color 1s ease;
  }
}

@layer utilities {
  .container {
    @apply lg:max-w-7xl;
  }
}

html {
  scroll-behavior: smooth;
}
