/* components/Loader.module.css */

.loaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  overflow: hidden;
  transition: opacity 0.5s ease;
}

.loaderText {
  font-size: 8rem;
  font-weight: normal;
  color: #fff;
  font-family: "Rethink Sans", sans-serif;
  position: relative;
}

.marquee,
.marquee2 {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
}

.marquee {
  top: 4%;
}

.marquee2 {
  bottom: 4%;
}

.marqueeText {
  display: flex;
  font-size: 1.5rem;
  color: #ffffffe4;
  gap: 2rem;
  animation: marquee 30s linear infinite;
}

.marqueeText2 {
  display: flex;
  font-size: 1.5rem;
  color: #ffffffe4;
  gap: 2rem;
  animation: marquee2 30s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(100%);
  }
}

.hide {
  opacity: 0;
  pointer-events: none;
}

/* Mobile code */

@media screen and (max-width: 520px) {
  .loaderText {
    font-size: 6rem;
  }

  .marquee {
    top: 3%;
  }

  .marquee2 {
    bottom: 12%;
  }

  .marqueeText {
    font-size: 1.2rem;
    gap: 1.4rem;
    animation: marquee 24s linear infinite;
  }

  .marqueeText2 {
    font-size: 1.2rem;
    gap: 1.4rem;
    animation: marquee2 24s linear infinite;
  }
}
